html{
    font-size: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Times New Roman", Times, serif;
}
body{
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    background-color: #2b2b2b;
}
nav ul{
    z-index: 100;
    position: fixed;
    margin: 0px;
    padding: 0px;
    background-color: #1b1b1b;
    list-style-type: none;
    height: 70px;
    width: 100%;
    display: grid;
    grid-template-columns: 300px 1fr 300px;
    justify-items: center;
    font-size: 2rem;
}
nav ul li{
    display: flex;
    height: 100%;
    align-items: center;
}
#nav_section_1{
    margin-left: 100px;
    display: flex;
    width: 300px;
    justify-content: space-around;
}
#nav_section_1 li a:hover{
    border: dashed 2px white;
    border-radius: 10px;
}
#nav_section_2{
    display: flex;
    grid-column: 3;
    width: 300px;
    justify-content: space-around;
}
.icon{
    height: 30px;
    width: 30px;
    border-radius: 5px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#linkedin{
    background-image:url("../assets/linkedin_icon.png");
}
#github{
    background-image:url("../assets/github_icon.png");
}
#email{
    background-image:url("../assets/gmail_icon.png");
}
nav a{
    display: flex;
    text-decoration: none;
    color: white;
    margin: 0 auto;
    padding: 6px;
    align-items: center;
    border: dashed 2px transparent;
}
main{
    width: 100%;
    height: 847px;
    margin: 0;
    position: absolute;
    top: 70px;
}
#projects-bar{
    display:flex;
    padding: 0;
    height: 106px;
    width: 100%;
    margin: 0;
    margin-top: 20px;
    justify-content: center;
    list-style-type: none;
}
.project-icon{
    width: 70px;
    height: 70px;
    border-radius: 38px;
    margin: 0 10px;
    border: 3px solid white;
    object-fit: contain;
}
.project-icon:hover{
    border-color: rgb(109, 25, 112);
}
.project-icon img{
    width: 100%;
    height: 100%;
    border-radius: 55px;
}
#project-flex{
    display: flex;
    width: 100%;
    height: 721px;
    justify-content: space-around;
    align-items: center;
}
#project-info{
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 600px;
}
#project-media{
    height: 600px;
    width: 600px;
    display: flex;
    justify-items: center;
    align-items: center;
}
#project-info h2{
    margin:0;
    width: 100%;
    height: 15%;
    text-align: center;
    vertical-align: center;
    color: white;
    font-size: 2rem;
    text-decoration: underline;
}
#project-info p{
    margin:0;
    color: white;
    width: 100%;
    height: 85%;
    font-size: 1.5rem;
}
#project-media img, video{
    max-width: 100%;
}
@media (max-width: 1200px){
    nav ul{
        grid-template-columns: 1fr 100px 1fr;
        justify-self: start;
        height: 110px;
    }
    #nav_section_1{
        margin-left: 0px;
        width: 300px;
        grid-column: span 3;
    }
    #nav_section_2{
        width: 300px;
        grid-column: 2;
    }
    .two-grid{
        grid-column: span 1;
    }
    main{
        top: 110px;
    }
    #project-flex{
        flex-direction: column;
        height: 1442px;
    }
}