*{
    margin: 0;
    padding: 0;
}


#landing{
    display:block;
    height: 940px;
    background-image: url("./media/starbase_landscape.jpg");
    background-position: center;
    background-size: cover;
    position: relative;

}

#landing a{
    text-decoration: none;
    position: absolute;
    color: white;
    font-size: 30px;
    padding: 15px 30px;
    border: 3px solid white;
    margin-left: 70px;
    margin-top: 730px;
}

#landing a:hover{
    border: dashed;
}

#about-flex-container{
    min-width: 0;
    min-height: 0;
    display:flex;
    align-items:flex-start;
    flex-direction: row;
    height: 860px;
    left: 0;
    right:0;
}

#about-me{
    display:flex;
    width: 100%;
    height: 100%;
    align-items:flex-start;
    flex-direction: row;
}

.text-block{
    width: 50%;
    height: 100%;
    overflow: scroll;
}

.text-block h1{
    font-size: 50px;
    text-decoration: underline;
}

.text-block p{
    padding-left: 2.925%;
    margin-top: 45px;
    border-left: 2px solid black;
    height: 390px;
}

#headshot{
    margin: 0px 44px;
    margin-top : 142px;
    width: 370px;
    height: 370px;
    border-radius: 10%;
}

#bot-block{
    min-width: 0;
    min-height: 0;
    display:flex;
    align-items:flex-start;
    flex-direction: column;
    flex-shrink: 0;
    height: 100%;
    width: 458px;
}

.link-block{
    min-width: 0;
    min-height: 0;
    display: flex;
    flex-direction: column;
    height: 345px;
    width: 457px;
    flex-shrink: 0;
}
.sub-link-block{
    display: flex;
    flex-direction: row;
    height:50%;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}
.resume-block{
    height: 100%;
    width: 50%;
}
.link-block a{
    background-size: 100% 100%;
    background-repeat: no-repeat;
    min-width: 0;
    min-height: 0;
    border-radius: 20%;
    height: 65%;
    aspect-ratio: 1;
}

#gmail_icon{
    background-image: url("./media/gmail_icon.png")
}
#linkedin_icon{
    background-image: url("./media/linkedin_icon.png")
}
#github_icon{
    background-image: url("./media/github_icon.png")
}
#placeholder_icon{
    background-image: url("./media/trollface.png")
}
table{
    overflow: hidden;
    border-spacing: 41px;
    border-left: black solid 2px;
}

th{
    vertical-align: top;
    text-align: left;
}