#TDSE-app-container{
    width:100%;
}
#graph{
    width: 80%;
    margin: 0 auto;
}
.control-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    height: 50px;
}
#potential-ribbon{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#project-info{
    width: 100%;
    justify-content: center;
}
#potential-ribbon button{
    background-color: transparent;
    color: white;
    border: none;
    height: 40px;
    font-size: 1em;
    padding: 10px 20px;
    margin: auto 0;
    transform: skew(-15deg);

}
#potential-ribbon button:hover{
    background-color: rgb(109, 109, 109);
    cursor: pointer;
}
.control-container p{
    color:white;
}
.control-container input{
    width: 60%;
}
.control-container input:hover{
    cursor: pointer;
}
#simulate-button{
    left:15%;
    color:white;
    position: relative;
    padding: 10px;
    transform: skew(-15deg);
    background-color: transparent;
    border: none;
}
#simulate-button:hover{
    background-color: rgb(109, 109, 109);
}