.body{
    position: absolute;
    height:100vh;
    width: 100vw;
    overflow: hidden;
    box-sizing: border-box;
}
#rcMenu{
    height: 40px;
    width: 200px;
    position: absolute;
    padding: 0;
    margin: 0;
    border: None;
    cursor: pointer;
    display: none;
    z-index: 100;
}
#rcMenu  ul:hover {
    border: 1px dashed black;
}
#selectableNodes{
    position: absolute;
    left:100%;
    flex-direction: column;
    display: none;
    width: 100%;
}
#selectableNodes > option:hover{
    border: 1px solid black;
}
#nodeBox{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#gridElement{
    width: 120vw;
    height: 120vh;
    background-size: 40px 40px;
    position: absolute;
    background-image:
    linear-gradient(to right, rgba(128, 128, 128, 0.5) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(128, 128, 128, 0.5) 1px, transparent 1px);
    background-color: rgb(255, 255, 255);
    z-index: -1;
    overflow: hidden;
}
.node{
    position:absolute;
    /* background-color: #341f1f; */
    background-color: #b1a0a0;
    z-index: 1;
    display: flex;
    align-items: center;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 6px;
    overflow: hidden;
}

.node:hover{
    border: 2px dashed orange !important;
}

.nodeName{
    margin: 0;
    width: fit-content;
    height: fit-content;
    color: black;
    font-family: eurostile;
    text-align: center;
    margin: auto;
}

.nodeEbox{
    position: absolute;
    margin: 0;
    padding: 0;
    background-color: white;
    border: 1px dashed black;
    width: min(15%,10px);
    height: min(15%,10px);
    left:0;
}
.sizeControl{
    position: absolute;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border-radius: 10%;
    border: none;
    width: min(15%,10px) !important;
    height: min(15%,10px);
    cursor: nwse-resize;
    right:0;
    bottom: 0;
}
.nodeEbox:hover{
    border-style: solid;
}
.selectedNode{
    border:2px solid orange !important;
}
.curve{
    box-sizing: border-box;
    position: absolute;
    width: 4px;
    height: 30px;
}
.curve-element-1{
    position: absolute;
    width: calc(50% - 1px);
    height: calc(50% - 1px);
    top:0;
    left:0;
    border-radius: 0 0 0 100%;
    border: 2px solid grey;
    border-top: 0;
    border-right: 0;
}
.curve-element-2{
    position: absolute;
    right:0;
    bottom:0;
    width: calc(50% - 1px);
    height: calc(50% - 1px);
    border-radius: 0 100% 0 0;
    border: 2px solid grey;
    border-bottom: 0;
    border-left: 0;
}
#edgeBox{
    position:absolute;
    width: 100%;
    height: 100%;
}
.edge{
    fill: black;
    z-index: 99;
}
.edge_svg{
    position: absolute;
    z-index: 0;
}
.edge:hover{
    fill: orange;
}
#nodeMenu{
    width: 30vw;
    height: 30vw;
    position: fixed;
    z-index: 500;
}
#nodeInputMenu{
    position: absolute;
    background-color: #341f1f;
    border-radius: 2%;
    display: flex;
    flex-direction: column;
    color:white;
    width: 100%;
    height: 100%;
}
#nodeInputMenu > div{
    height:18%;
    width:100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
} 
#tagsInputField > input{
    width: 100%;
    height: 20%;
}
#tagBox{
    width:100%;
    height:80%;
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
    overflow-x: hidden;
}
.tag{
    background-color: white;
    border-radius: 5px;
    border-bottom-right-radius: 20px;
    margin: 1px 1px;
    height:2rem;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}
.tag > p {
    height: 2rem;
    margin:1px;
    height: fit-content;
    overflow: hidden;
    color:black;
    font-style: eurostile;
    font-size: 2rem;
    left:0;
    width: fit-content;
    white-space: nowrap;
}
.tag > img{
    width: 1rem;
    margin: 5px;
    aspect-ratio: 1;
    opacity: .5;
}
.tag > img:hover{
    opacity: 1;
}

.nodeInputField{
    z-index: 501;
}

#connectionsInputField{
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
    overflow-x: hidden;
    overflow: scroll;
    overflow-x: hidden;
}
.connectionTag{
    background-color: white;
    color:black;
    border-radius: 5px;
    border-bottom-right-radius: 20px;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    display: flex;
    font-size: 2rem;
    left:0;
    width: min-content;
    margin: 2px;
    padding: 0 5px;
    white-space: nowrap;
    align-items: center;
    height: 2rem;
}

p{
    font-family: eurostile;
}

#sideMenu{
    z-index: 1000;
    box-shadow: 5px 5px 5px grey;
    height:100vh;
    width:10vw;
    position: fixed;
    margin: 0;
    background-color: #341f1f;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    left: 0;
    top:0;
    box-sizing: border-box;
    overflow: hidden;
}
#sideMenu > a{
    width:100%;
    height:5%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
}
#sideMenu > a:hover{
    background-color: #372929;
}
#sideMenu > a > p{
    font-family: eurostile;
    font-size: 1em;
}
#importButton > input{
    display: none;
}
#loadExampleContainer{
    width:100%;
    height:5%;
    justify-content: center;
    display: flex;
}
.dropbtn {
    color: white;
    background-color: transparent;
    cursor: pointer;
    font-family: eurostile;
    font-size: 1em;
    justify-content: center;
    align-items: center;
    border: none;
}
.dropdown {
  position: relative;
}
.dropdown-content {
    position: absolute;
    top:80%;
    display: none;
    color: white;
    cursor: pointer;
}
.dropdown:hover .dropdown-content {display: block;}

.layeredInput > p{
    width: 100%;
    height: 100%;
}
.layeredInput > textarea{
    width: 100%;
    height: 100%;
    resize: none;
    user-select: all;
}
#selectionBox{
    border: 1px dashed black;
    background-color: transparent;
    display: none;
    position: absolute;
    z-index: 1;
}
#mapNameInput{
    width:100vw;
    height:1em;
    background-color: transparent;
    color: black;
    font-style: eurostile;
    position: fixed;
    top:5px;
    left:0;
    border: none;
    z-index: 999;
    text-align: center;
}
#mapNameInput::placeholder{
    color: black;
}
#ruleList{
    position: absolute;
    display: flex;
    width: 100%;
    height: 40%;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 10px;
    overflow: hidden;
    bottom: 0;
    flex-direction: column;
}
#ruleList > a{
    width: 100%;
    height: 10%;
    color:white;
    text-align: center;
}
#ruleMenu{
    position: absolute;
    width: 70%;
    height: 60%;
    top: 20%;
    left: 15%;
    background-color: #341f1f;
    border: 1px solid white;
    z-index: 9999;
    display:none;
}
#ruleMenu > div{
    position: absolute;
    border: 1px solid white;
    box-sizing: border-box;
}
#ruleMenuTitleDiv{
    width: 20%;
    height: 20%;
    top:0;
    left:0;
    display:flex;
    justify-content: center;
}
#ruleMenuTitleDiv > h1{
    margin:0;
    font-style: eurostile;
    width: fit-content;
    height: fit-content;
    color: white;
}
#menuRuleList{
    width: 20%;
    height: 80%;
    bottom:0;
    left: 0;
}
#ruleEditInput{
    left:20%;
    top:0;
    height: 40%;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#ruleEditInput > input{
    width: 15%;
    height: 20%;
}
#saveRuleButton{
    width:20%;
    height: 10%;
    right:0;
    top:30%;
    position: absolute;
}
#newRuleButton{
    width:20%;
    height: 10%;
    right:20%;
    top:30%;
    position: absolute;
}
#deleteRuleButton{
    width:20%;
    height: 10%;
    right:40%;
    top:30%;
    position: absolute;
}
#exampleDisplay{
    bottom:0;
    left:20%;
    width: 60%;
    height: 60%;
}
#affectedNodesList{
    right:0;
    bottom:0;
    width: 20%;
    height: 60%;
}
.styleRuleContainer{
    width:100%;
    height:2rem;
    background-color: green;
    border-radius: 5px;
    border-bottom-right-radius: 20px;
    margin: 1px 0;
}
.styleRule{
    width:100%;
    height:100%;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    align-items: center;
}
.styleRule > p{
    height: 2rem;
    margin: 2px;
    cursor: pointer;
    color: black;
    height: fit-content;
    overflow: hidden;
}
.styleRule > img{
    width: 16%;
    margin: 5px;
    aspect-ratio: 1;
    right:5px;
    opacity: .7;
}
.targetRule{
    position: absolute;
    z-index:9999;
}